.tableheading {
  background-color: #ff8000 !important ;
  color: white !important;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #e6e6e6;
}

.prev-next {
  color: #ff8000;
  font-weight: bolder;
  text-align: right;
  background-color: white;
}

.table td,
.table th {
  padding: 0.1rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}

.url {
  font-size: 11px;
  color: grey;
  text-decoration: none;
}

.orange {
  border-top: 3px solid #ff8000;
}

a {
  color: inherit;
}
